.slide-right {
  margin-left: auto;
  margin-right: auto;
  width: 30em;
}

section a, section a:hover {
  text-decoration: none;
  color: #333;
}

section a:after {
  /* http://coding.smashingmagazine.com/2011/07/13/learning-to-use-the-before-and-after-pseudo-elements-in-css/ */
  content: "(Click for full poem)";
  display: block;
  text-align: center;
  font-size: x-small;
}

cite {
  font-style: italic;
}

section .source {
  font-size: x-small;
  padding-left: 5em;
}


.navbar-inverse {
  /* Used http://www.colorschemer.com/online.html starting with color from 04533c, CO plate color, & getting a palette */
  /* For picking the CO plate color: DigitalColor Meter. /Applications/Utilities/DigitalColor Meter.app */
  background-color: #04533c;
  border-color: #8D072D;
}

p {
  margin-top: 2em;
}
