.slide-right {
  margin-left: auto;
  margin-right: auto;
  width: 25em;
  margin: 3em;
}

.slide a {
  text-decoration: none;
  color: #333;
}

.slide a:after {
  /* http://coding.smashingmagazine.com/2011/07/13/learning-to-use-the-before-and-after-pseudo-elements-in-css/ */
  content: "(Click for full poem)";
  display: block;
  text-align: center;
  font-size: x-small;
}

cite {
  font-style: italic;
}

.slide .source {
  font-size: x-small;
  padding-left: 5em;
}


.navbar-inverse {
  background-color: #04533c;
  border-color: #a91b0c;
}

